version: '3.8'

services:
  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: admin # Cambia esto por tu contraseña
      MYSQL_DATABASE: sql_diceapp
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./mysql:/docker-entrypoint-initdb.d
    restart: always
  mongo:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: dice # Cambia esto por tu usuario
      MONGO_INITDB_ROOT_PASSWORD: ke7vvKBQjjdiqqKI # Cambia esto por tu contraseña
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mysql-data:
  mongo-data: